name: MyVector CI

on:
  push:
    branches: [ "main", "feature/*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mysql-version: ['8.0', '8.4']

    steps:
    - name: Checkout MyVector Code
      uses: actions/checkout@v4

    - name: Set up MySQL Server
      uses: shogo82148/actions-setup-mysql@v1
      with:
        mysql-version: ${{ matrix.mysql-version }}

    - name: Install Build Dependencies
      run: sudo apt-get update && sudo apt-get install -y make gcc g++ libmysqlclient-dev

    - name: Build MyVector Plugin
      run: make

    - name: Install MyVector Plugin
      run: |
          PLUGIN_DIR=$(mysql -e "SELECT @@plugin_dir;" -s -N)
          sudo cp myvector.so "$PLUGIN_DIR/"

    - name: Run MTR Test Suite
      run: mysql-test-run.pl --suite=myvector --verbose