name: MyVector CI

on:
  push:
    branches: [ "main", "feature/*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mysql-ref: ['mysql-8.0.35', 'mysql-8.4.0']

    steps:
    - name: Checkout MySQL Server
      uses: actions/checkout@v4
      with:
        repository: mysql/mysql-server
        ref: ${{ matrix.mysql-ref }}
        path: mysql-server
        submodules: recursive

    - name: Checkout MyVector Plugin
      uses: actions/checkout@v4
      with:
        path: mysql-server/plugin/myvector

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake g++ bison libssl-dev libncurses5-dev libsasl2-dev libtirpc-dev

    - name: Configure CMake
      working-directory: mysql-server
      run: |
        mkdir bld
        cd bld
        cmake .. -DDOWNLOAD_BOOST=1 -DWITH_BOOST=../boost -DFORCE_INSOURCE_BUILD=1 -DCMAKE_BUILD_TYPE=RelWithDebInfo

    - name: Build MySQL for Testing
      working-directory: mysql-server/bld
      run: make -j2 mysql-test

    - name: Run MyVector Test Suite
      working-directory: mysql-server/bld
      run: ./mysql-test/mysql-test-run.pl myvector --verbose --mysqld-path=${{ github.workspace }}/mysql-server/bld/runtime_output_directory/mysqld
